@charset "UTF-8";
/* CSS Document */


.laos_container{

}


.laos_pannel * {
  /*width: auto;
  height: auto;
  background: transparent;*/
  border: none;
  /*margin: 0px;
  padding: 0px;*/
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  word-spacing: normal;
  /*font-weight: normal;
  font-size: 12px;*/
  font-family: 'Trebuchet MS', sans-serif !important;
  visibility: visible;
  line-height: initial;
  color:black;
}

#laos_popup h1, #laos_popup h1 *{
  font-size:16px !important;
}

#laos_popup{
  font-weight: normal;
  word-break: break-word;
  pointer-events: none;
  display: none;
  width: auto;
  min-width: 13em;
  max-width: 27em;
  height:fit-content;
  position:absolute;
  top:0;
  left:0;

}

.laos_pannel{
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ff0073,#2094ff);
  box-shadow: rgb(0 0 0 / 50%) 0px 2px 5px;
  font-size:16px !important;
  border: double 2px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: 'Trebuchet MS', sans-serif !important;
  background-color:white;
  z-index:999059;
  border-radius:1em;
}

.laos_bubble {
  position:absolute;
  font-family: "Trebuchet MS", sans-serif !important;
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
  color: #727272;
  font-size: 12px;
  transition: transform, opacity, 0.3s ease;
  cursor: default;
}

.laos_bubble *{
  cursor: default;
  margin: 0;
}

.laos_bubble.active{
  transform: scale(1.2);
  opacity: 0.4;
}

.laos_folder{
  background: #ececec;
  border-radius: 1em;
  margin: 0.5em;
  padding:0.5em;
}

.laos_header{
  font-weight:500;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.laos_header > *{
  padding:0.3em;
}

.laos_header h1{
  font-weight: normal;
  font-size: 16px;
  margin: 0 !important;
}

.laos_def{
  font-size: 13px !important;
}

.laos_header h1:not(:first-child){
  padding-left: 0.7em;
}

.laos_zhuyin{
  font-size: 80% !important;

}

.laos_zhongwhen{
  font-size: 110% !important;
}

.laos_popup h1,p{
  padding: 0.2em;
}

.laos_folder p{
  padding-left: 0.3em;
  margin: 0;
  font-size: 13px;
  font-weight: lighter;
  line-height: 1.4em;
}

.laos_separator{

    height: 0.1em;
    width: 98%;
    display: block;
    margin-top: 0.5em;
    background: radial-gradient(circle at top left, #ff0073,#2094ff);
    margin-left: 1%;

}

#laos_tips{
  margin-top: 0.4em;
  position: absolute;

  font-weight: normal;
  color:#000;
  font-size: 60%;

  transition: opacity 0.4s ease;

  width: 100%;
  background: none;

  border-radius: 0.3em;

  z-index: 0;
  white-space: nowrap;

  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

#laos_tips.top{
  top:0;
  margin-top:-20%;
}

#laos_tips p{

  background: rgb(255 255 255);
  border-radius: 0.3em;
  box-shadow: 0 0 4px rgba(0 0 0 / 30%);
  width: max-content;
  margin: 1%;
  padding: 2%;
  float: left;
  font-size: 1em;

  display: flex;
  align-items: center;
  column-gap: 5px;

}


.laos_key{
  background: #ff0073;
  color: white !important;
  min-width: 1em;
  text-align: center;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.laos_tone_a{ color:#4fa2f7 !important; }

.laos_tone_b{ color:#ff6a55 !important; }

.laos_tone_c{ color:#70bd0e !important; }

.laos_tone_d{ color:#e54ff2 !important; }

img#laos_curtainImg{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important; height: 100% !important;
  max-width: 100% !important; max-height: 100% !important;
  min-width: 100% !important; min-height: 100% !important;
  z-index: 998;
}

#laos-crop-hint{
  z-index:1001;
  position:fixed;
  bottom:0;
  margin-bottom:30px;
  font-size:12px;
  left:50%;
  transform:translateX(-50%);
  color:black !important;
  display: flex;
  flew-direction:row;
  column-gap:10px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0 0 0 / 40%);
  padding: 6px 20px;
  align-items: center;
  background-color: #f5f5f5;
}

.laos-crop-help{
  display: flex;;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -11px;
  bottom: -7px;
  background: #EAEAEA;
  display: flex;
  width: 20px;
  height: 20px;
  box-shadow: -2px -1px 6px rgb(0 0 0 / 50%);
  cursor: default;
  transition: transform 0.2s ease;
}

.laos-crop-help:hover{
  transform: scale(1.2);
}


#laos-crop-hint p{
  margin: 0!important;
  font-family: 'Trebuchet MS', sans-serif !important;
}

#laos-crop-hint img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/*-------LAOS OCR Pannel */

#laos_ocr{
  min-width: 25em;
  max-width: 30vw;
  min-height: 30vh;
  max-height: 80vh;
  overflow: hidden;
  position: fixed;
  z-index: 9889;
  bottom:0;
  right: 0;
  margin: 20px;
  transition: width 0.2s ease, height 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#laos_ocr .laos-crop-help{
  position: relative;
  top:0;
  left: 0;
}

#laos_ocr #laos_tips{
  position: relative;
  opacity: 1;
  display: block;
  width: max-content;
  box-shadow: none;
  filter: none;
}

#laos_ocr #laos_tips p{ box-shadow: none; }


#laos_ocr.ready #laos_ocr_loader{
  opacity: 0;
  pointer-events: none;
}

#laos_ocr_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

#laos_ocr_header > section{
  flex-direction: row;
  display: flex;
  align-items: center;
}

#laos_ocr_help{
  box-shadow: none;
  margin-right: 8px;
}


#laos_ocr_close{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

#laos_ocr_close > span{
  width: 50%;
  height: 2px;
  display: block;
  position: absolute;
  background-color: black;
}

#laos_ocr_header p, #laos_ocr_footer p{
  margin: 0;
}

#laos_ocr_close > span:first-child{ transform: rotate(45deg); }
#laos_ocr_close > span:last-child{ transform: rotate(-45deg); }

#laos_ocr > *{
  box-sizing: border-box;
  padding: 5px 10px;
  transition: opacity 0.2s ease;
}

#laos_ocr.ready #laos_ocr_body, #laos_ocr.ready #laos_ocr_footer{
  opacity: 1;
}

#laos_ocr_loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#b0b0b0;
  font-size: 12px;
  flex-direction: column;
  pointer-events: none;
}

#laos_ocr_null{
  text-align: center;
  color: #808080;
  font-size: 13px;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#laos_ocr_null *{
    color: #808080;
}

.laos_ocr_help{
  color: #808080;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
}

#laos_ocr_loader p{
  margin-top: 10px;
  color:#b0b0b0;
}

#laos_ocr_loader span{
  width: 40px;
  height: 40px;
  display: inline-block;
}

#laos_ocr_loader span:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 50%;
  border: 3px solid #b0b0b0;
  border-color: #b0b0b0 transparent #b0b0b0 transparent;
  animation: laos_rotate 1s linear infinite;
}

#laos_ocr_footer{ opacity: 0; }

#laos_ocr_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

#laos_ocr_accuracy{
  width: max-content;
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  margin: 15px 0px;
  background: rgb(236,236,236);
  border-radius: 10em;
  justify-content: space-evenly;
}

#laos_ocr_accuracy span{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 100%;
  padding: 6%;
  box-sizing: border-box;
  background-clip: content-box;
}

#laos_ocr_accuracy p{
  font-size: 10px;
  white-space: nowrap;
  margin-right: 9px;
}


#laos_ocr_body{
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 2px rgb(215 215 215);
  border-left: none;
  border-right: 0;
  opacity: 0;
}

#laos_ocr_accuracy span.good{ background-color: #62ff33; }
#laos_ocr_accuracy span.mid{ background-color: #ffb40b; }
#laos_ocr_accuracy span.bad{ background-color: #d54531; }

@keyframes laos_rotate{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
}
